[user]
	name = TAMURA Takashi
	email = cslroot@gmail.com
[core]
	pager = lv -c
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = true
	branch = auto
	status = auto
	diff = auto

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
